.App {
  text-align: center;
  background-image: url('https://cdn.wallpapersafari.com/15/2/WHnIAq.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Ensure the image is centered */
  background-attachment: fixed; /* Optional: Makes the background fixed during scroll */
  height: 100%; /* Ensure the div takes at least the full height of the content */
  min-height: 100vh; /* Minimum height of viewport */

  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .App {
    background-image: url('https://cdn.wallpapersafari.com/19/62/w4Czng.jpg');
  }
}
