/* Define keyframes for the wave animation */
@keyframes wave {
    0%, 100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }
  
  /* Apply the animation to the .info class */
  .info {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    animation: wave 1s 2; /* Use the wave animation, lasting 1 second, executing twice */
    font-size: large;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  